.main {
  padding-top: 30px;
  margin: auto;
  background-color: #C5E9FF80;
  width: 800px;
  border-radius: 10px;
}

.main__center {
  position: relative;
  margin: auto;
  display: flex;
  width: 680px;
  flex-direction: column;
}

.head {
  margin: auto;
}

.head__text {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}

.body {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.body__location {
  width: 319px;
}

.body-location__text {
  font-weight: 300;
}

.body-location__input {
  width: 319px;
  height: 45px;
  border: 1px solid #00000033;
  border-radius: 5px;
}

.body__cash {
  padding: 0 25px 0 25px;
  width: 191px;
}

.body-cash__text {
  font-weight: 300;
}

.body-cash__input {
  width: 191px;
  height: 45px;
  border: 1px solid #00000033;
  border-radius: 5px;
}

.body__submit {
  background-color: rgba(6, 153, 74, 0.471);
  color: rgb(0, 0, 0);
  width: 120px;
  height: 45px;
  border: 0;
  border-radius: 5px;
}

.money {
  display: flex;
  justify-content: flex-end;
}

.items {
  padding: 0;
 }
 
 .items__item {
   display: flex;
 }
 
 .items-item__location {
   width: 300px;
   font-weight: 300;
 }
 
 .items-item__values {
   display: flex;
   padding-left: 30px;
   align-items: center;
 }
 
 .items-item-values__date {
   width: 126px;
   font-weight: 300;
 }
 
 .items-item-values__cash {
   width: 80px;
   padding-left: 30px;
   font-weight: 300;
 }
 
 .items-item-values__buttons {
   display: flex;
   width: 56px;
   height: 24px;
   padding-left: 58px;
   justify-content: space-between;
 }
 
 .items-item-values-buttons__button {
   height: 24px;
   width: 24px;
 }
 
 .items-item-values-buttons-button__rename {
   background-image: url(/src/img/rename.svg);
   background-repeat: no-repeat;
   background-color: #c5e9ff00;
   height: 100%;
   width: 100%;
   border: 0px;
 }
 
 .items-item-values-buttons-button__delete {
   background-image: url(/src/img/delete.svg);
   background-repeat: no-repeat;
   background-color: #c5e9ff00;
   height: 100%;
   width: 100%;
   border: 0px;
 }

.money__sum {
  font-weight: 300;
}

@media (max-width: 806px) {
  .main {
    width: 480px;
  }

  .main__center {
    width: 420px;
  }

  .body {
    flex-direction: column;
  }

  .body__location {
    width: 100%;
  }

  .body-location__input {
    width: 100%;
  }

  .body__cash {
    width: 100%;
    padding: 0 0 10px;
  }

  .body-cash__input {
    width: 100%;
  }

  .body__submit {
    width: 185px;
  }

  .items-item__values {
    flex-direction: column;
    padding: 0;
  }

  .items-item-values__date {
    margin: 0;
  }

  .items-item-values__cash {
    margin: 0;
  }

  .items-item-values__buttons {
    width: 105px;
    height: 48px;
    padding: 0;
  }

  .items-item-values-buttons__button {
    width: 45px;
    height: 48px;
  }
  
  .items-item-values-buttons-button__delete {
    width: 45px;
    height: 48px;
    margin: 5px;
    padding: 0;
    background-size: 25px;
  }

  .items-item-values-buttons-button__rename {
    width: 45px;
    height: 48px;
    margin: 7px 0px 0 7px;
    padding: 0;
    background-size: 30px;
  }
}